* {
    font-family: Roboto;
}

footer {
    background-color: #f0f0f0;
}

footer > div:nth-child(2) {
    background-color: white;
    font-size: 15px;
}

footer h5 {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}

footer dt {
    color: #5f5f5f;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
}

footer dd {
    color: #757575;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 15px;
}

footer .normal-text {
    font-weight: 400;
    color: #757575;
    font-size: 15px;
}

footer li {
    margin-bottom: 3px;
}

footer b {
    font-weight: 500;
}

footer h2.line {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #757575;
    margin-bottom: 10px;
}
