.container {
    font-family: Roboto;
    /* border: 1px solid; */
}

footer {
    background-color: #f0f0f0;
}

footer h5 {
    font-weight: 500;
    margin-bottom: 10px;
}

footer dt {
    color: #5f5f5f;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

footer dd {
    color: #757575;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 20px;
}

footer .normal-text {
    font-weight: 400;
    color: #757575;
}

footer li {
    margin-bottom: 3px;
}

footer b {
    font-weight: 500;
}
