* {
    font-family: Roboto;
    /* border: 1px solid; */
}

.header-middle > .container {
    padding-left: 0px;
    padding-right: 0px;
}

header .header-top {
    color: #757575;
    background-color: #f8f8f8;
    border-bottom: 0.01em solid #dddddd;
}

header .ht-list > div {
    color: #757575;
    font-size: 12px;
    margin-left: 25px;
    display: inline-block;
}

header .language-popup {
    border-top: 1px solid #ffe600;
    padding: 20px 20px 10px 20px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 10;
}

header .language-popup img {
    width: 15px;
    margin-right: 3px;
}

header .language-popup > div {
    margin-bottom: 10px;
    text-align: left;
}

header #logo-img {
    width: 215px;
}

header .header-middle .row > div {
    /* padding-left: 0px;
    padding-right: 0px; */
}

header .header-middle button,
header .header-middle input {
    border-radius: 0px;
}

header .btn-search {
    background-color: #ffe600;
    border: 0px;
    width: 60px;
}

header .btn-wish-list {
    border: 1px solid #a8a8a8;
}

header .btn-shopping-cart {
    background-color: #ff0000;
    width: 60px;
}

header .header-bottom {
    background-color: #ffe600;
    font-weight: 500;
}
