<header>
    <div class="header-top">
        <div class="container">
            <div class="ht-list row pt-1 pb-1 justify-content-end align-items-center">
                <button id="ht-check-order" onclick="location.href='/account/1'" type="button" class="ht-item">
                    <i class="far fa-shopping-bag mr-2"></i>
                    KIỂM TRA ĐƠN HÀNG
                </button>
                <button id="ht-login" onclick="location.href='/login'" type="button" class="ht-item">
                    <i class="far fa-user-circle mr-2"></i>
                    ĐĂNG NHẬP/ĐĂNG KÝ
                </button>
                <button id="ht-account" onclick="location.href='/account/0'" type="button" class="ht-item">
                    <i class="far fa-user-circle mr-2"></i>
                </button>
                <div class="dropdown">
                    <button class="ht-item d-none d-sm-block" data-toggle="dropdown">
                        <i class="far fa-globe mr-2"></i>
                        CHANGE LANGUAGE
                    </button>
                    <!-- Popup to change language -->
                    <div class="dropdown-menu">
                        <a class="dropdown-item">
                            <img src="/images/header/flag-icons/vn.svg" alt="" />
                            Tiếng Việt
                        </a>
                        <a class="dropdown-item">
                            <img src="/images/header/flag-icons/uk.svg" alt="" />
                            English
                        </a>
                    </div>
                </div>
                <button id="ht-logout" onclick="return logout()" type="button" class="ht-item">
                    <i class="fas fa-sign-out mr-2"></i>
                    ĐĂNG XUẤT
                </button>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="container">
            <div class="d-md-flex flex-md-row align-items-center">
                <div class="logo text-center mr-md-4">
                    <div class="py-3">
                        <a href="/">
                            <img id="logo-img" src="/images/header/logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-fill">
                    <div class="input-group mr-lg-5 mr-3">
                        <input id="search-box" class="form-control" type="search"
                            placeholder="Tìm kiếm trên Favada" />
                        <div class="input-group-append">
                            <button class="btn-search btn btn-warning" onclick="searchBox()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button onclick="location.href='/account/2'" type="button"
                            class="btn-wish-list btn btn-outline-dark mr-lg-3 mr-2">
                            <i class="far fa-heart"></i>
                        </button>
                        <span class='badge-likeCount d-none' id='lblLikeCount'>5</span>
                        <button onclick="location.href='/cart'" type="button"
                            class="btn-shopping-cart btn btn-danger">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                        <span class='badge-cartCount d-none' id='lblCartCount'>5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom d-none d-md-block">
        <div class="container">
            <div class="menu-bar row">
                <div class="menu-item dropdown mr-4">
                    <button data-toggle="dropdown">
                        <i class="fas fa-list mr-1"></i>
                        DANH MỤC SẢN PHẨM
                    </button>
                    <div class="dropdown-menu">
                        <% if (locals.lcCategories) { %>
                        <% lcCategories.forEach(category => { %>
                            <a class="dropdown-item" href="/category/<%= category.id %>">
                                <%= category.name %>
                            </a>
                        <% })}%>
                    </div>
                </div>
                <div class="menu-item mr-4">
                    <a href="/policy">
                        HƯỚNG DẪN MUA HÀNG
                    </a>
                </div>
                <div class="menu-item mr-4">
                    <a href="/policy">
                        QUY ĐỊNH BẢO HÀNH
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/policy">
                        MUA TRẢ GÓP
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>