<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAVADA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- Import font Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="/script/fontawesome-pro.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <!-- Begin Header -->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="ht-list row pt-1 pb-1 justify-content-end align-items-center">
                    <button onclick="location.href='./account.html'" type="button" class="ht-item">
                        <i class="far fa-shopping-bag mr-2"></i>
                        KIỂM TRA ĐƠN HÀNG
                    </button>
                    <button onclick="location.href='./login.html'" type="button" class="ht-item">
                        <i class="far fa-user-circle mr-2"></i>
                        ĐĂNG NHẬP/ĐĂNG KÝ
                    </button>
                    <button onclick="location.href=''" type="button" class="ht-item d-none">
                        <i class="far fa-user-circle mr-2"></i>
                        CAO NHƠN HƯNG
                    </button>
                    <div class="dropdown">
                        <button class="ht-item d-none d-sm-block" data-toggle="dropdown">
                            <i class="far fa-globe mr-2"></i>
                            CHANGE LANGUAGE
                        </button>
                        <!-- Popup to change language -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <img src="/images/header/flag-icons/vn.svg" alt="" />
                                Tiếng Việt
                            </a>
                            <a class="dropdown-item">
                                <img src="/images/header/flag-icons/uk.svg" alt="" />
                                English
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="d-md-flex flex-md-row align-items-center">
                    <div class="logo text-center mr-md-4">
                        <div class="py-3">
                            <a href="./index.html">
                                <img id="logo-img" src="/images/header/logo.png" alt="logo" />
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-fill">
                        <div class="input-group mr-lg-5 mr-3">
                            <input id="search-box" class="form-control" type="search"
                                placeholder="Tìm kiếm trên Favada" />
                            <div class="input-group-append">
                                <button class="btn-search btn btn-warning">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button onclick="location.href='./account.html'" type="button"
                                class="btn-wish-list btn btn-outline-dark mr-lg-3 mr-2">
                                <i class="far fa-heart"></i>
                            </button>
                            <button onclick="location.href='./cart.html'" type="button"
                                class="btn-shopping-cart btn btn-danger">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom d-none d-md-block">
            <div class="container">
                <div class="menu-bar row">
                    <div class="menu-item dropdown mr-4">
                        <button data-toggle="dropdown">
                            <i class="fas fa-list mr-1"></i>
                            DANH MỤC SẢN PHẨM
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./category.html">
                                LAPTOP
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                PC - LINH KIỆN
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                MÁN HÌNH
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                BÀN PHÍM
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                CHUỘT
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                TAI NGHE
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                GHẾ GAMING
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                THIẾT BỊ ÂM THANH
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                THIẾT BỊ MẠNG
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                THIẾT BỊ VĂN PHÒNG
                            </a>
                            <a class="dropdown-item" href="./category.html">
                                PHỤ KIỆN
                            </a>
                        </div>
                    </div>
                    <div class="menu-item mr-4">
                        <a href="./policy.html">
                            HƯỚNG DẪN MUA HÀNG
                        </a>
                    </div>
                    <div class="menu-item mr-4">
                        <a href="./policy.html">
                            QUY ĐỊNH BẢO HÀNH
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="./policy.html">
                            MUA TRẢ GÓP
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Breadcrumb begin-->
    <div class="breadcrumb p-1 d-none d-sm-block">
        <div class="container">
            <a href="./index.html">Trang chủ</a>
            <i class="far fa-angle-right mx-2"></i>
            <a href="#">PC Gaming</a>
            <i class="far fa-angle-right mx-2"></i>
            <a href="#">Màn hình</a>
            <i class="far fa-angle-right mx-2"></i>
            <a>Màn hình ASUS ROG SWIFT PG27UG</a>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <br />

    <div class="main-area">
        <div class="container">
            <!-- content-wraper start -->
            <div class="content-wraper">
                <div class="row single-product-area">
                    <div class="col-lg-5 col-md-6 pl-0">
                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images">
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item" href="/images/product/large-size/1.jpg"
                                        data-gall="myGallery">
                                        <img src="/images/product/large-size/1.jpg" alt="product image" class="w-100" />
                                    </a>
                                </div>
                            </div>
                            <div class="d-none d-sm-block">
                                <div class="product-details-thumbs row">
                                    <div class="sm-image col-3">
                                        <img src="/images/product/small-size/1.jpg" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="/images/product/small-size/2.jpg" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="/images/product/small-size/3.jpg" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="/images/product/small-size/4.jpg" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Product Details Left -->
                    </div>

                    <div class="col-lg-7 col-md-6 pr-0">
                        <div class="product-details-view-content pt-60">
                            <div class="product-info">
                                <h2>
                                    Màn hình ASUS ROG SWIFT PG27UQ 27” 4K
                                    UHD 144Hz G-SYNC HDR
                                </h2>
                                <div class="product-category">
                                    <b>Thương hiệu:</b>
                                    <i>ASUS</i>
                                </div>
                                <div class="rating-review mt-3">
                                    <div class="rating-stars">
                                        <ul class="rating">
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star-half-alt"></i>
                                            </li>
                                            <li>
                                                <i class="far fa-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-box mt-3">
                                    Giá:
                                    <span class="price ml-2">
                                        6.990.000đ
                                    </span>
                                </div>
                                <div class="product-desc mt-3">
                                    Kích thước : 27"<br />
                                    Độ phân giải : 2K WQHD (2560 x 1440)<br />
                                    Khả năng hiển thị màu : 16.7 triệu
                                    màu<br />
                                    Thời gian đáp ứng : 1ms<br />
                                    Tần số quét : 165Hz<br />
                                    Hỗ trợ Nvidia G-Sync<br />
                                    Kết nối : HDMI 1.4, DisplayPort 1.2, 2
                                    cổng USB, Jack tai nghe 3.5mm
                                </div>
                                <div class="line"></div>
                                <div class="add-to-wishlist my-3">
                                    <button type="button" class="wishlist-btn">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    Thêm vào danh sách yêu thích
                                </div>
                                <div class="single-add-to-cart">
                                    <label>Số lượng</label>
                                    <form action="" class="cart-quantity row">
                                        <div class="quantity d-flex mr-4">
                                            <input class="cart-plus-minus-box" value="1" type="text" />
                                            <div>
                                                <div class="inc qtybutton">
                                                    <i class="fa fa-angle-up"></i>
                                                </div>
                                                <div class="dec qtybutton">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="add-to-cart" type="submit">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </form>
                                </div>
                                <div class="block-reassurance mt-5">
                                    <div class="row align-items-center">
                                        <i class="far fa-check-circle mr-3"></i>
                                        <i>Cam kết sản phẩm mới 100%</i>
                                    </div>
                                    <div class="line"></div>
                                    <div class="row align-items-center">
                                        <i class="far fa-truck mr-3"></i>
                                        <i>Giao hàng miễn phí nội thành</i>
                                    </div>
                                    <div class="line"></div>
                                    <div class="row align-items-center">
                                        <i class="far fa-exchange-alt mr-3"></i>
                                        <i> Đổi trả tròng vòng 7 ngày</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wraper end -->
            <br />

            <div class="section-title nav" id="myTab" role="tablist">
                <a class="title-item active" id="detail-tab" data-toggle="tab" href="#detail" role="tab"
                    aria-selected="true">
                    Thông tin chi tiết
                </a>
                <span class="separate"></span>
                <a class="title-item" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-selected="false">
                    Đánh giá
                </a>
            </div>
            <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="detail" role="tabpanel">
                    <p>
                        Màn hình chơi game ROG Swift PG27UQ – 27” 4K UHD
                        (3840 x 2160), Có thể ép xung 144Hz, G-SYNC HDR,
                        Chấm lượng tử , IPS, Aura Sync.
                    </p>
                    <p>
                        Màn hình chơi game 27 inch 4K UHD (3840 x 2160) HDR
                        có tần số quét 144Hz có thể ép xung mang lại các
                        hình ảnh chơi game siêu mịn.
                    </p>
                    <p>
                        NVIDIA G-SYNC HDR mang lại độ tương phản và màu sắc
                        sống động như thật, làm nổi bật các màu trắng sáng
                        nhất và các màu đen sẫm màu nhất mang lại các chi
                        tiết chưa từng có trước đó.
                    </p>
                    <p>
                        Màn hình IPS chấm lượng tử có gam màu DCI-P3 rộng
                        cung cấp màu sắc trung thực và màu sắc mượt mà hơn.
                    </p>
                    <p>
                        Công nghệ ASUS Aura Sync tạo ra ánh sáng xung quanh
                        phong phú và hỗ trợ đồng bộ hóa với các bộ phận và
                        thiết bị ngoại vi có bật Aura.
                    </p>
                    <p>
                        Hiệu ứng Ánh sáng ROG mới có logo ROG để tạo ra
                        không khí hoàn hảo cho thiết lập chơi game của bạn.
                    </p>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Trân L.</div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Nguyễn Đ.</div>
                            <div class="comment">
                                Nói chung là không bị hở sáng như mấy con
                                kia, khá hài lòng. Bền hay không thì chưa
                                biết nhưng khá đẹp.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Khánh V.</div>
                            <div class="comment">
                                Màn hình đúng chuẩn 2k 75hz, mua 2 cái không
                                hở sáng hay lỗi nhỏ gì hết, nói chung best
                                trong tầm giá khi mua khuyến mãi, chân đế
                                cứng cáp, cọng dây hdmi đi kèm có 1 dây
                                không dùng được, nhưng không sao, dù sao
                                mình cũng không bao giờ dùng dây đi kèm, màn
                                đóng gói tốt.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <br />

            <!-- Similar products begin -->
            <div class="section-title">
                <span class="title-item active">
                    Các sản phẩm tương tự:
                </span>
            </div>
            <div class="row mt-4">
                <div class="card col-lg-3 col-md-4 col-6">
                    <img class="card-img-top" src="/images/featured-product/4.jpg" alt="Card image cap" />
                    <div class="card-body card-category">
                        Phụ kiện chơi game
                    </div>
                    <div class="card-body rating-stars">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <a href="product.html" class="card-body card-product-name">
                        Tay cầm chơi game Microsoft Xboxe One
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-end">
                            <div class="price-box">
                                <span class="card-price">780.000đ</span>
                                <span class="card-old-price">980.000đ</span>
                            </div>
                            <div class="flex-fill d-flex justify-content-end">
                                <button type="button" class="card-btn-wish in-wish-list">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <button onclick="location.href=''" type="button" class="card-btn-cart">
                                    <i class="fal fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-6">
                    <img class="card-img-top" src="/images/featured-product/3.jpg" alt="Card image cap" />
                    <div class="card-body card-category">
                        Phụ kiện chơi game
                    </div>
                    <div class="card-body rating-stars">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <a href="product.html" class="card-body card-product-name">
                        Tay cầm chơi game Microsoft Xboxe One
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-end">
                            <div class="price-box">
                                <span class="card-price">780.000đ</span>
                                <span class="card-old-price">980.000đ</span>
                            </div>
                            <div class="flex-fill d-flex justify-content-end">
                                <button onclick="location.href=''" type="button" class="card-btn-wish">
                                    <i class="fal fa-heart"></i>
                                </button>
                                <button onclick="location.href=''" type="button" class="card-btn-cart">
                                    <i class="fal fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 d-none d-md-block">
                    <img class="card-img-top" src="/images/featured-product/5.jpg" alt="Card image cap" />
                    <div class="card-body card-category">
                        Phụ kiện chơi game
                    </div>
                    <div class="card-body rating-stars">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <a href="product.html" class="card-body card-product-name">
                        Tay cầm chơi game Microsoft Xboxe One
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-end">
                            <div class="price-box">
                                <span class="card-price">780.000đ</span>
                                <span class="card-old-price">980.000đ</span>
                            </div>
                            <div class="flex-fill d-flex justify-content-end">
                                <button onclick="location.href=''" type="button" class="card-btn-wish">
                                    <i class="fal fa-heart"></i>
                                </button>
                                <button onclick="location.href=''" type="button" class="card-btn-cart">
                                    <i class="fal fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 d-none d-lg-block">
                    <img class="card-img-top" src="/images/featured-product/6.jpg" alt="Card image cap" />
                    <div class="card-body card-category">
                        Phụ kiện chơi game
                    </div>
                    <div class="card-body rating-stars">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <a href="product.html" class="card-body card-product-name">
                        Tay cầm chơi game Microsoft Xboxe One
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-end">
                            <div class="price-box">
                                <span class="card-price">780.000đ</span>
                                <span class="card-old-price">980.000đ</span>
                            </div>
                            <div class="flex-fill d-flex justify-content-end">
                                <button onclick="location.href=''" type="button" class="card-btn-wish">
                                    <i class="fal fa-heart"></i>
                                </button>
                                <button onclick="location.href=''" type="button" class="card-btn-cart">
                                    <i class="fal fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Similar products end -->
        </div>
    </div>

    <br />
    <br />
    <br />
    <!-- Footer begin -->
    <footer>
        <div class="container pt-3 pb-1">
            <div class="row d-flex justify-content-between no-gutters">
                <div class="col-lg-6 pr-lg-5">
                    <div>
                        <h5>ĐỊA ĐIỂM MUA HÀNG</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <dl style="list-style: none;">
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>227 Đường Nguyễn Văn Cừ, phường 4,
                                        quận 5, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 6: Từ 9h - 20h</dd>
                                    <dd>
                                        Thứ 7: Từ 9h - 18h, Chủ Nhật: Từ 9h
                                        - 16h
                                    </dd>
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>Khu phố 6, Phường Linh Trung, Quận
                                        Thủ Đức, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 7: Từ 9h - 18h</dd>
                                    <dd>Chủ Nhật: Không hoạt động</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h5>ĐIỆN THOẠI HỖ TRỢ</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled normal-text">
                            <li>Mua hàng: <b>0843 969 899</b></li>
                            <li>
                                Bảo hành: <b>0843 969 899 (Line: 8200)</b>
                            </li>
                            <li>
                                Kỹ thuật: <b>0843 969 899 (Line: 8345)</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pr-lg-5">
                    <h5>CHÍNH SÁCH</h5>
                    <h2 class="line"></h2>
                    <ul class="list-unstyled normal-text">
                        <li>Chính sách bán hàng</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách bảo mật</li>
                        <li>Tìm hiểu về trả góp</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div>
                        <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/visa.svg" width="54" class="mr-3" />
                        <img src="/images/footer/maestro.svg" width="54" class="mr-3" />
                        <img src="/images/footer/american-express.svg" width="54" class="mr-3" />
                        <img src="/images/footer/jcb.svg" width="54" class="mr-3" />
                        <img src="/images/footer/paypal.svg" width="54" class="mr-3" />
                        <img src="/images/footer/ebay.svg" width="54" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/facebook.svg" width="40" class="mr-3" />
                        <img src="/images/footer/youtube.svg" width="50" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <span class="col-md-10 col-sm-9 text-right">Powered by Team10 - 17CNTN</span>
                    <span class="col-md-2 col-sm-3 text-right">@Favada 2020</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>