<!DOCTYPE html>
<html>
<body>
<script>
	localStorage.setItem("token", "<%= token %>");
	localStorage.setItem("name", "<%= name %>");
	localStorage.setItem("likeProductIDs", '<%- JSON.stringify(likeProductIDs) %>');
	window.location.replace("/");
</script>
</body>
</html>