<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>FAVADA MANAGER</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/button.css" >
	<link rel="stylesheet" href="/css/stylesheet.css" >
	<link rel="icon" href="/images/img/icon.png">
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
</style>

</head>

<body>
<div style="height:100%;">
	<div class="d_logo t_logo">
			<img src="/images/img/logo.png"></img>
			</div>
	<div id="nav" class="d_navi t_navi" >
		
	</div>
	<!--<div valign="bottom" class="footer">powered by TEAM10</div>	-->
	<div style="height:100vh;width:500px;float:left;">
		<div id="hd" class="d_header t_header">
			
		</div>
		<div class="d_content t_content" >
			<div id="opt" style="visibility:hidden;top:0px;z-index:10;width:200px;height:300px;background-color:#DDDDDD;right:0px;position:absolute;">
				<div>tài khoản</div>
				<div style="width:100%;border-top-style:solid;border-width:1px;"></div>
				<div>đăng xuất</div>
			</div>
			
			<ul class="list-group">
				<li class="list-group-item" style="font-weight: bold;">Chi tiết đơn hàng <span id="idbill"></span></li>
				<li class="list-group-item">Địa chỉ giao hàng: <span id="addr"></span> </li>
				<li class="list-group-item">Sđt nhận hàng: <span id="rec_phone"></span></li>
				<li class="list-group-item">Ghi chú: <span id="note"></span></li>
				
			</ul>
<table class="table" style="">
	<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Số lượng </th>
      <th scope="col">Giá bán</th>
	  <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr id="row" style="">
      
    </tr>
    
  </tbody>
</table>		
		</div>
	</div>
</div>
<script src="/script/navigate.js"></script>
<script>
	
	
	var id=<%=id%>;
	var total=0;
	$.ajax({
		url: "http://localhost:3000/manager/api/order/new/"+id,
		type: 'GET',
		headers: {token : localStorage.getItem("token")}
		,
		success: function(data) {
			console.log(data);
			document.getElementById("addr").innerHTML=data.data[0].address;
			document.getElementById("rec_phone").innerHTML=data.data[0].rec_phone;
			
			}
		});
		
		$.ajax({
		url: "http://localhost:3000/manager/api/detailbill/"+id,
		type: 'GET',
		headers: {token : localStorage.getItem("token")}
		,
		success: function(data) {
			document.getElementById("idbill").innerHTML="#"+data.data[0].idBill;
			
		}
		});

	$.ajax({
    url: "http://localhost:3000/manager/api/detailbill/"+id,
    type: 'GET',
	headers: {token : localStorage.getItem("token")}
	,
    success: function(data) {
			console.log(data);
			var r=document.getElementById("row");
			for (var i=0;i<data.data.length;i++)
			{
				var cln = r.cloneNode(true);
				
				cln.innerHTML+="<th scope='row'>"+data.data[i].id+"</th>";
				//cln.childNodes[3].innerHTML=data.data[i].name;
				cln.innerHTML+="<td>"+"điện thoại"+"</td>";
				cln.innerHTML+="<td>"+data.data[i].total+"</td>";
				cln.innerHTML+="<td>"+data.data[i].price+"</td>";
				cln.innerHTML+="<td>"+data.data[i].note+"</td>";
				console.log(cln);
				document.getElementById("row").parentElement.appendChild(cln);
			}
	}});
	
	function option()
	{
	
		if (document.getElementById("opt").style.visibility != "hidden")
		{
			document.getElementById("opt").style.visibility = "hidden";
		}else{
			document.getElementById("opt").style.opacity=0.0;		
			document.getElementById("opt").style.visibility = "visible";
			myvar=setInterval(affect,50);
		}
	}
	function detail(e)
	{
		
	}
</script>
</body>	
</html>