<!DOCTYPE html>
<html>
<head>
	<title>FAVADA MANAGER</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/button.css" >
	<link rel="stylesheet" href="/css/stylesheet.css" >
	<link rel="icon" href="/images/img/icon.png">
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
<style>
	.inp{
	position:absolute;
	height:25px;
	float:right;
	right:50%;
	width:300px;
	}
</style>

</head>

<body>
<div style="height:100%;">
	<div class="d_logo t_logo">
			<img src="/images/img/logo.png"></img>
			</div>
	<div id="nav" class="d_navi t_navi" >
		
	</div>
	<!--<div valign="bottom" class="footer">powered by TEAM10</div>	-->
	<div style="height:100vh;width:500px;float:left;">
		<div id="hd" class="d_header t_header">
			
		</div>
		<div class="d_content t_content" style="line-height:40px;">
			<img src="/images/img/edit.png" style="width:20px;height:20px;opacity:50%;"></img>
			<div style="padding:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:90%;height:auto;overflow:auto;">
			<form action="http://localhost:3000/product/" method="POST" >
			<div>tên sản phẩm:
				<input class="inp" type="text" id="prname" style="font-weight:bold;"></input>
				
			</div>
			
			<div>đơn giá:
				<input class="inp" type="text" id="prprice" style="font-weight:bold;"></input>
			</div>
			<div>nhà sản xuất:
				<select class="inp" type="text" style="font-weight:bold;"></select>
			</div>
			<div>thông số kỹ thuật:
				<input class="inp" type="select" style="font-weight:bold;"></input>
			</div>
			<div>kho hàng:
				<select class="inp" type="text" style="font-weight:bold;"></select>
			</div>
			<div>hình ảnh</div>
			<input id="file" class="inp" style="height:50px" type="file"></input></br>
			<input id="tk" name="token" type="hidden" />
			<div class="btnrow" onclick="update()" style="display:block;margin-left:calc(50% - 50px);background-color:#3955e3;clear:both;">update</div>
			</form>
			</div>
			
			</div>
	</div>
</div>
<script src="/script/navigate.js"></script>

<script>
	var formData = new FormData();
	
	
	function update()
	{
		
		formData.append('file', $('#file')[0].files[0]);
		formData.append('name',"Duc");
		formData.append('brand_name',"Sam Sung");
		formData.append('info',"lololololol");
		formData.append('price',523423);
		formData.append('category',"Ổ cứng");
		formData.append('number',5);
		formData.append('detail',"câccacacacacac");
		formData.append('position',"Nguyễn Tri Phương, Q 10, HCM");
		$.ajax({
		url: "http://localhost:3000/product/",
		type: 'POST',
		headers: {token : localStorage.getItem("token")},
		data:formData
		,
		processData: false,  // tell jQuery not to process the data
       contentType: false,  // tell jQuery not to set contentType
		success: function(data) {
			console.log(data);	
			}
		});
	}
	
	
	
	var myvar;
	function affect()
	{
		var x= document.getElementById("opt").style.opacity;
		if (parseFloat(x)==1)
		{
			clearInterval(myvar);
			return;
		}
		document.getElementById("opt").style.opacity= parseFloat(x)+0.1;
	}
	function no()
	{
		alert(1);
	}
	function option()
	{
		if (document.getElementById("opt").style.visibility != "hidden")
		{
			document.getElementById("opt").style.visibility = "hidden";
		}else{
			document.getElementById("opt").style.opacity=0.0;		
			document.getElementById("opt").style.visibility = "visible";
			myvar=setInterval(affect,50);
		}
	}
</script>
</body>	
</html>