<!DOCTYPE html>
<html>
<body>

<script>
	localStorage.setItem("token", "<%= token %>");
	localStorage.setItem("user", "<%= user %>");
	window.location.replace("http://localhost:3000/manager/wellcome");
</script>
</body>
</html>